<table>
    <tr>
        <td>
            <p>Angel Moises Cruz Cruz</p>
            <p>Aprobar la materia, desarrollarme como persona mientras </p>     
            <p>aprendo buenas practicas como desarrollador de software.</p>


        </td>

        <td>
            <img src="../assets/images/AngelCruz.jpg" width="100" height="100">
        </td>

        <td>
            <ul>
                <li>angelcruz.feb@gmail.com</li>
                <li>2712287504</li>
                <li>Cordoba, Veracruz</li>
                <li>@a.c__00</li>
            </ul>
        </td>
    </tr>
</table>