<h3>Habilidades y competencias</h3>
    <tr>
        <h4>Resolucion de problemas </h4><meter min="0" max="100" value="95"></meter>
    </tr>
    <tr>
        <h4>Autonomia </h4><meter min="0" max="100" value="100"></meter>
    </tr>
    <tr>
        <h4>Responsabilidad </h4><meter min="0" max="100" value="100"></meter>
    </tr>
    <tr>
        <h4>Liderazgo </h4><meter min="0" max="100" value="90"></meter>
    </tr>
    <tr>
        <h4>Trabajo en equipo </h4><meter min="0" max="100" value="100"></meter>
    </tr>
    <tr>
        <h4>Capacidad de innovacion </h4><meter min="0" max="100" value="85"></meter>
    </tr>
    <tr>
        <h4>Iniciativa </h4><meter min="0" max="100" value="95"></meter>
    </tr>
    <tr>
        <h4>Organizacion </h4><meter min="0" max="100" value="90"></meter>
    </tr>
    <tr>
        <h4>Creatividad </h4><meter min="0" max="100" value="95"></meter>
    </tr>
    <tr>
        <h4>Experiencia </h4><meter min="0" max="100" value="30"></meter>
    </tr>